<mat-card>
    <mat-card-title>Google Maps</mat-card-title>
    <mat-card-content>
        <agm-map (mapClick)="addPointer($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">
            <agm-marker *ngFor="let pointer of pointers; let i = index" 
                        [latitude]="pointer.lat" 
                        [longitude]="pointer.lng">

                <agm-info-window>
                    <strong style="color: black;">{{pointer.title}}</strong>
                    <p style="color: black;">
                        {{pointer.desc}}
                    </p>

                    <div>
                        <button (click)="editPointer(pointer)" style="margin-right: 4px" mat-raised-button color="primary">Edit</button> 
                        <button (click)="deletePointer(i)" mat-raised-button color="warn">Delete</button>
                    </div>
                </agm-info-window>

            </agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card>